.car {
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
    /*min-width: 50%;*/
    cursor: pointer;
    user-select: none;
    width: 100%;
}

h4 {
    margin: 0px;
    margin-bottom: 10px;
}

.carDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.carDetails div {
    display: flex;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
