.formEdit {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 60%;
    justify-content: space-between;
}
input {
    font-size: 24px;
    padding: 5px;
}
.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.editFooter {
    display: flex;
    justify-content: space-around;
}
button {
    padding: 5px;
    font-size: 16px;
    margin-right: 1px;
}
